 <section id="slider" class="clearfix">
        <div class="owl-carousel">
            <!-- slider-item -->
            <div class="slider_item">
                    <div class="row">
                        <div class="col-sm-6 slider-image">
                            <img src="assets\image\1.png" alt="kutta :)" class="img-responsive">
                        </div>
                        <div class="col-sm-6 text">
                            <h1>“I like dogs. You always know what a dog is thinking. It has four moods. Happy, sad, cross, and concentrating. Also, dogs are faithful and they do not tell lies because they cannot talk.”</h1>
                            
                        </div>
                    </div>
            </div><!-- slider-item -->
        </div>
 </section>
<div class="d-flex justify-content-center border border-warning ml-3">
    <div class="justify-content m-4 shadow p-3 mb-5 bg-white rounded sub">
        <h1  class="border-bottom border-warning">Join Us</h1>
        <p>
            <span>You can Register Your Pet and</span><br>
            <span>get support from others.</span>
        </p>
        <img src="assets\New folder\unnamed.png" alt="" style="height:100px ; width:100px ; float: right;">

    </div>
    <div class="justify-content m-4 shadow p-3 mb-5 bg-white rounded sub">
        <h1  class="border-bottom border-warning">Buy And Sell</h1>
        <p>
           <span>You can Advertice yout Own Pharamacy,</span> <br>
           <span>Clinic Or Sell Your Pets.</span>
           
        </p>
        <img src="assets\New folder\sell-buy-20512661.jpg" alt="" style="height:100px ; width:100px ; float: right;">
    </div>
    <div class="justify-content m-4 shadow p-3 mb-5 bg-white rounded sub">
        <h1  class="border-bottom border-warning">Pet Care</h1>
        <p>
            <span>We have number one clinics and Pharamaise to your supports</span><br>
            <span>Please be hurry and join with us</span>
        </p>
        <img src="assets\New folder\MC201806_RXRedirect_Tablet&Desktop_640x640.png" alt="" style="height:100px ; width:100px ; float: right;">
    </div>
</div>

 <div class="main">
    <div class="row mt-3">
        <div class="col-md-3 mb-3" *ngFor="let post of Posts">

            <mat-card class="card">
                <mat-card-header>
                  <div mat-card-avatar>
                    <img src="{{post.filename}}" class="rounded-circle hoverable " style="width: 50px; height: 50px;" >
                  </div>
                        <mat-card-title>{{post.breed}}</mat-card-title>
                        <mat-card-subtitle>{{post.subbreed}}</mat-card-subtitle>
                      <div class=" mb-7 col-md-6">
                        <mat-card-subtitle>{{post.contact}}</mat-card-subtitle>
                      </div>
                </mat-card-header>
                <img mat-card-image src="{{post.filename}}" style="height: 200px;" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>{{post.description}}</p>
                </mat-card-content>
                <mat-card-title>Call Now</mat-card-title>
              </mat-card>
        </div>
    </div>
</div>



