<div class="col-md-12">
    <div class="col-md-10">
        <div class="shadow rounded Header">
            <div class="text-white text-center">
                <h1>My pets</h1>
            </div>
        </div>
    </div>
</div>

<div class="main">
    <div class="row mt-5">
        <div class="col-md-4 mb-3" *ngFor ="let pet of pets">
            <mat-card  class="card">
                <mat-card-header>
                    <div mat-card-avatar >
                        <img src="{{pet.filename}}" class="rounded-circle hoverable " style="width: 50px; height: 50px;" >
                    </div>
                    <mat-card-title>{{pet.petname}}</mat-card-title>
                    <mat-card-subtitle>{{pet.breed}}</mat-card-subtitle>                 
                  </mat-card-header>
                  <img mat-card-image src="{{pet.filename}}" style="height: 200px;" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                    <p>{{pet.description}}</p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button class=" btn btn-outline-info shadow-lg rounded " (click)="onClick(pet)">Medicine history</button>
                    <button mat-button class=" btn btn-outline-danger " mwlConfirmationPopover
                    [popoverTitle]="popoverTitle"
                    [popoverMessage]="popoverMessage"
                    (confirm)="Delete(pet.id)"
                    (cancel)="cancelClicked = true"><span class="glyphicon glyphicon-remove"></span> Delete</button>
                  </mat-card-actions>
            </mat-card>  
        </div>
    </div>
</div>





