.singin{
    padding-top: 20px;
}
.formbox{
    padding-top: 20px;
}
.Header{
    padding-top: 20px;
    margin-bottom: 3%;
    margin-left: 2%;
    margin-right: 2%;
    height: 100px;
    background-color: #a4e7a4;
}
h1{
    font-weight: bold;
    font-size: 30px;
}
.example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }