
<div class="main">
    <div class=" row mt-3">
        <div class="col-md-3 mb-3" *ngFor="let Pharmacy of Pharmacies">
            <mat-card class="card">
                <mat-card-header>
                    <div class="col-6">
                        <mat-card-title>{{Pharmacy.pharmacyname}}</mat-card-title>
                        <mat-card-subtitle>{{Pharmacy.pname}}</mat-card-subtitle>

                    </div>
                        <div class="card-subtitle col-6 ml-4text-muted d-flex justify-content-end"><h3>{{Pharmacy.date | date:'longDate'}}</h3></div>
                </mat-card-header>
                <img mat-card-image src="{{Pharmacy.filename}}" style="height: 200px;" alt="Photo of a Shiba Inu">
                <mat-card-content>
                <table>
                    <tr class="col-md-12">
                        <td class="col-md-4">
                            <mat-card-title>{{Pharmacy.decision}}</mat-card-title>
                        </td>
                        <td class="col-md-8">
                            <mat-card-subtitle>{{Pharmacy.contact}}</mat-card-subtitle>
                        </td>
                    </tr>
                </table> 
            </mat-card-content>  
            <div class=" input-group">    
                  <div class="col-md-6 m-0 text-success">Start Time</div>   
                  <div class="col-md-6 text-danger"> Close Time</div>
            </div>  
            <div class=" input-group">
                <div class="col-md-6 m-0 text-success"> {{Pharmacy.stime}}</div>
                 <div class="col-md-6 text-danger">  {{Pharmacy.ctime}}</div>
                 <div><button mat-button class=" btn btn-outline-info shadow-lg rounded" (click)="Submit(Pharmacy.id)">Update</button></div>
                 <button mat-button class=" btn btn-outline-danger ml-5 " mwlConfirmationPopover
                 [popoverTitle]="popoverTitle"
                 [popoverMessage]="popoverMessage"
                 (confirm)="Delete(Pharmacy.id)"
                 (cancel)="cancelClicked = true"><span class="glyphicon glyphicon-remove"></span> Delete</button>
           </div>               
              </mat-card>
        </div>
    </div>
</div>
